body{
    background-image: url("abstract_orange_wallpaper_010.jpg");
}

.menu,.sub-menu,.auth,.autorization,.donation-bar .logo{
background: #fa4c0c;
}

.menu a{
      color: white;
    text-decoration: none;
      line-height: 1.5em;
    font-size:200%;

}

.sub-menu{
  word-break: break-word;
    opacity: 0;
    transition: all 1s ease-out 0s;
    z-index: 8;
    border-radius: 15%;
}

.row li a {
    color:yellow;
    font-size: 1.4em;
}

.footer li,a{
    color: white;
    text-decoration: none;
    line-height: 1em;
    font-size:150%;
}

.sub-menu a{
    color: white;
    text-decoration: none;
    line-height: 1.5em;
    font-size:130%;
}

.autorization a{
    color: white;
    text-decoration: none;
    line-height: 1.5em;
    font-size:220%;
}

#menuToggle{
    display: flex;
    width: 80%;
}

#menuToggle input{
    display: none;
}

.footer{
    background: #62605e;
}

.transition, form button, form .question label, form .question input[type="text"] {
  -moz-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  -o-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  -webkit-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
}

form {
  position: relative;
  display: inline-block;
  max-width: 700px;
  min-width: 500px;
  box-sizing: border-box;
  padding: 30px 25px;
  background-color: white;
  border-radius: 40px;
  margin: 40px 0;
  left: 50%;
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

form button:hover, form button:focus {
  color: black;
  background-color: white;
}

form .question {
  position: relative;
  padding: 10px 0;
}

form .question label {
  transform-origin: left center;
  color: #fa4c0c;
  font-weight: 100;
  letter-spacing: 0.01em;
  font-size: 22px;
  box-sizing: border-box;
  padding: 10px 15px;
  display: block;
  position: absolute;
  margin-top: -17%;
  z-index: 2;
  pointer-events: none;
}

form .question input {
  appearance: none;
  border: 5px solid #ffdd00;
  line-height: 0;
  font-size: 17px;
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding: 10px 15px;
  border-radius: 60px;
  color: black;
  font-weight: 100;
  letter-spacing: 0.01em;
  position: relative;
  z-index: 1;
}

form .question input:focus {
  outline: none;
  background: white;
  color: black;
  margin-top: 30px;
}

form .question input:valid {
  margin-top: 30px;
}

form .question input:focus ~ label {
    color: white;
  -moz-transform: translate(0, -45px);
  -ms-transform: translate(0, -45px);
  -webkit-transform: translate(0, -45px);
  transform: translate(0, -45px);
}

form .question input:valid ~ label {
  text-transform: uppercase;
  font-style: italic;
  color: white;
  -moz-transform: translate(5px, -45px) scale(0.6);
  -ms-transform: translate(5px, -45px) scale(0.6);
  -webkit-transform: translate(5px, -45px) scale(0.6);
  transform: translate(5px, -45px) scale(0.6);
}

.content1-h{
    font-size:200%;
}

.content1-text,.content2-text{
    color: white;
    font-size:95%;
}

.donation-bar{
  background-image: url("carbon.jpg");
}

.donation-bar form{
  all:unset;
  display: flex;
  justify-content: flex-start;
  background: #fa4c0c;
  min-width: 60%;
}

.donation-text {
  color: white;
  line-height: 1.5em;
  font-size: 260%;
}

.donation-bar form.row button {
  background-color: #fa4c0c;
  border: none;
  line-height: 0;
  font-size: 400%;
  display: inline-block;
  box-sizing: border-box;
  margin: 10% auto 0 20%;
  border-radius: 60px;
  color: white;
  font-weight: 100;
  letter-spacing: 0.01em;
  position: relative;
  z-index: 1;
}


@media screen and (max-width : 960px){

    header{
        background: #fa4c0c;
        height: 50px;
    }

#menuToggle {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 25px;
  left: 25px;
  z-index: 10;
  -webkit-user-select: none;
  user-select: none;
}


#menuToggle input
{
  display: flex;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 11;
}

#menuToggle span
{
  display: flex;
  width: 29px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  z-index: 13;
  transform-origin: 5px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-3px, -1px);
  background: #36383F;
}
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
    display: block;
  position: absolute;
  width: 180px;
  height: 200vh;
  box-shadow: 0 0 10px #85888C;
  margin: -50px 0 0 -50px;
  padding: 50px;
  padding-top: 80px;
  background: #fa4c0c;
    font-size: 0.7em;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.sub-menu{
    visibility: visible;
    display: block;
    position: relative;
    opacity: 1;
    background: #fa4c0c;
    font-size: 1.5em;
    padding: 0 0;
    padding-left: 7%;
}

.menu>li:hover .sub-menu{
    opacity: 1;
}

#menu li
{
  padding: 10px 0;
  transition-delay: 2s;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}



header div.col-1 .logo{
    right: 1%;
    height: 50px;
}
header div.col-1 .logo img{
    height: 100%;
    width: auto;
}

.autorization a{
    display: none;
}

.autorization img{
    display: block;
    position: absolute ;
    right:15%;
    z-index: 20;
    height: 50px;
    width: auto;
}

.auth{
    transform: scale(0.6);
    visibility: hidden;
    position: absolute;
    top: -10%;
    left: -30%;
    opacity: 0;
    transition: all 1s ease-out 0s;
    z-index: 8;
}

.content-1,.content-2{
    display: block;
}

.content-1 div,.content-2 div{
    width: 95%;
    margin-left: 2%;
}

.donation-bar div {
margin: 0 0;
}

.col-1-6{
    width: 0%;
}
.col-3-6{
    width: 66%  ;
}

.donation-text{
    padding: 1% 0;

}
.donation-bar{
    justify-content: flex-start;
    max-width: 100%;
    font-size:0.3em;
    height: 30px;
}

.donation-bar .row .question{
    transform: scale(0.5);
}

.footer{
    height: 15px;
}

.footer li,a{
    color: white;
    text-decoration: none;
    line-height: 1em;
    font-size: 0.7em;
}
.donation-bar form .question{
    margin-right: 25px;
    margin-bottom: 30px;
}

.donation-bar form .question input{
    height: 100%;
    width: auto;
    padding: 0;
    margin-right: 70%;
    margin-top: -12%;
}

.donation-bar form .question label{
    font-size: 3em;
    margin-top: -70%;
}

.donation-bar form .question input:focus ~ label {
    visibility: hidden;
    color: white;
  -moz-transform: translate(0, -45px);
  -ms-transform: translate(0, -45px);
  -webkit-transform: translate(0, -45px);
  transform: translate(0, -45px);
}


}






